@charset "UTF-8";
:root {
  --color--coral: #fd5765;
  --color--coral-dark: #eb0316;
  --color--lagoon: #3beccd;
  --color--indigo: #2f128d;
  --color--dark-indigo: #251657;
  --color--stone: #284d74;
  --color--light-stone: #4088a9;
  --color--succulent: #d3e8e1;
  --color--buttermilk: #fffbf0;
  --color--light-grey: #f4f3f6;
  --color--light-grey-accessible: #757575;
  --color--grey: #444;
  --color--grey-dark: #333;
  --color--grey-border: #e6e4ea;
  --color--white: #fff;
  --color--white-translucent: rgba(255, 255, 255, 0.8);
  --color--black-translucent: rgba(0, 0, 0, 0.05);
  --color--black: #000;
  --color--focus-bg: #ffbf47;
  --color--border: #eee;
}

/* ============================================
    Media queries
*/
/* ============================================
    z-index
*/
/* ============================================
  Placeholder text
*/
/* ============================================
  iOS Native vertical scroll
*/
/* ============================================
    Output a rem and px fallback value for the given property
*/
/* ============================================
    Output a `font-size: [x]rem;` declaration for the given px value
*/
/* ============================================
    Font sizes
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
html.no-scroll-behaviour {
  scroll-behavior: auto;
}

body {
  margin: 0;
  overflow-x: hidden;
}
body.no-scroll {
  overflow-y: hidden;
}

img,
svg {
  vertical-align: top;
}

img {
  height: auto;
  max-width: 100%;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

form button:focus,
form input:focus,
form select:focus,
form textarea:focus {
  outline: 3px solid --color--focus-bg;
  outline-offset: 0;
}

a {
  color: #000;
  color: var(--color--black);
  text-decoration: none;
  transition: color 0.25s ease-out;
}
a:hover {
  cursor: pointer;
}
a:focus {
  outline: 3px solid transparent;
  color: #000;
  color: var(--color--black);
  background-color: #ffbf47;
  background-color: var(--color--focus-bg);
  box-shadow: 0 -1.5px #ffbf47, 0 3px #000;
  box-shadow: 0 -1.5px var(--color--focus-bg), 0 3px var(--color--black);
  text-decoration: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* ============================================
    Base font
*/
html {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.4;
  color: #000;
  color: var(--color--black);
}
@media only screen and (min-width: 599px) {
  html {
    font-size: 16px;
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1023px) {
  html {
    font-size: 16px;
    font-size: 1rem;
  }
}

/* ============================================
    Families – one mixin per typeface
    :: For each font mixin defined here, make sure each property is negated (set
    :: to its default value, usually `inherit`) in all other font mixins.
*/
h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  font-family: sans-serif;
  font-style: inherit;
  font-weight: inherit;
  margin: 0 0 1rem;
}

h1 {
  font-size: 32px;
  font-size: 2rem;
}
@media only screen and (min-width: 599px) {
  h1 {
    font-size: 40px;
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 1023px) {
  h1 {
    font-size: 50px;
    font-size: 3.125rem;
  }
}

h2 {
  font-size: 25px;
  font-size: 1.5625rem;
}
@media only screen and (min-width: 599px) {
  h2 {
    font-size: 30px;
    font-size: 1.875rem;
  }
}
@media only screen and (min-width: 1023px) {
  h2 {
    font-size: 35px;
    font-size: 2.1875rem;
  }
}

h3 {
  font-size: 24px;
  font-size: 1.5rem;
}
@media only screen and (min-width: 599px) {
  h3 {
    font-size: 28px;
    font-size: 1.75rem;
  }
}
@media only screen and (min-width: 1023px) {
  h3 {
    font-size: 32px;
    font-size: 2rem;
  }
}

h4 {
  font-size: 22px;
  font-size: 1.375rem;
}
@media only screen and (min-width: 599px) {
  h4 {
    font-size: 26px;
    font-size: 1.625rem;
  }
}
@media only screen and (min-width: 1023px) {
  h4 {
    font-size: 30px;
    font-size: 1.875rem;
  }
}

h5,
h6 {
  font-size: 18px;
  font-size: 1.125rem;
}
@media only screen and (min-width: 599px) {
  h5,
h6 {
    font-size: 20px;
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: 1023px) {
  h5,
h6 {
    font-size: 24px;
    font-size: 1.5rem;
  }
}

small {
  font-size: 12px;
  font-size: 0.75rem;
}
@media only screen and (min-width: 599px) {
  small {
    font-size: 12px;
    font-size: 0.75rem;
  }
}
@media only screen and (min-width: 1023px) {
  small {
    font-size: 12px;
    font-size: 0.75rem;
  }
}

.feature--one {
  font-size: 44px;
  font-size: 2.75rem;
  font-weight: 600;
  line-height: 1.1;
}
@media only screen and (min-width: 599px) {
  .feature--one {
    font-size: 78px;
    font-size: 4.875rem;
  }
}
@media only screen and (min-width: 1023px) {
  .feature--one {
    font-size: 90px;
    font-size: 5.625rem;
  }
}
.feature--two {
  font-size: 38px;
  font-size: 2.375rem;
  font-weight: 600;
  line-height: 1.1;
}
@media only screen and (min-width: 599px) {
  .feature--two {
    font-size: 68px;
    font-size: 4.25rem;
  }
}
@media only screen and (min-width: 1023px) {
  .feature--two {
    font-size: 76px;
    font-size: 4.75rem;
  }
}

.heading--one {
  font-size: 32px;
  font-size: 2rem;
}
@media only screen and (min-width: 599px) {
  .heading--one {
    font-size: 40px;
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 1023px) {
  .heading--one {
    font-size: 50px;
    font-size: 3.125rem;
  }
}
.heading--two {
  font-size: 25px;
  font-size: 1.5625rem;
}
@media only screen and (min-width: 599px) {
  .heading--two {
    font-size: 30px;
    font-size: 1.875rem;
  }
}
@media only screen and (min-width: 1023px) {
  .heading--two {
    font-size: 35px;
    font-size: 2.1875rem;
  }
}
.heading--three {
  font-size: 24px;
  font-size: 1.5rem;
}
@media only screen and (min-width: 599px) {
  .heading--three {
    font-size: 28px;
    font-size: 1.75rem;
  }
}
@media only screen and (min-width: 1023px) {
  .heading--three {
    font-size: 32px;
    font-size: 2rem;
  }
}
.heading--four {
  font-size: 22px;
  font-size: 1.375rem;
}
@media only screen and (min-width: 599px) {
  .heading--four {
    font-size: 26px;
    font-size: 1.625rem;
  }
}
@media only screen and (min-width: 1023px) {
  .heading--four {
    font-size: 30px;
    font-size: 1.875rem;
  }
}
.heading--five {
  font-size: 18px;
  font-size: 1.125rem;
}
@media only screen and (min-width: 599px) {
  .heading--five {
    font-size: 20px;
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: 1023px) {
  .heading--five {
    font-size: 24px;
    font-size: 1.5rem;
  }
}

.body {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.4;
}
@media only screen and (min-width: 599px) {
  .body {
    font-size: 16px;
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1023px) {
  .body {
    font-size: 16px;
    font-size: 1rem;
  }
}
.body--feature {
  font-size: 16px;
  font-size: 1rem;
}
@media only screen and (min-width: 599px) {
  .body--feature {
    font-size: 18px;
    font-size: 1.125rem;
  }
}
@media only screen and (min-width: 1023px) {
  .body--feature {
    font-size: 18px;
    font-size: 1.125rem;
  }
}

.supporting {
  font-size: 12px;
  font-size: 0.75rem;
}
@media only screen and (min-width: 599px) {
  .supporting {
    font-size: 12px;
    font-size: 0.75rem;
  }
}
@media only screen and (min-width: 1023px) {
  .supporting {
    font-size: 12px;
    font-size: 0.75rem;
  }
}

blockquote {
  font-family: sans-serif;
  font-style: italic;
  font-weight: inherit;
  text-transform: inherit;
}

.rich-text {
  max-width: 700px;
}
.rich-text a {
  color: #2f128d;
  color: var(--color--indigo);
}
.rich-text a:hover {
  text-decoration: underline;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Montserrat.woff2) format("woff2");
}
.button {
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  border: 2px solid transparent;
  transition: color 0.25s ease-out, background-color 0.25s ease-out, border-color 0.25s ease-out;
}
.button:hover {
  cursor: pointer;
}
.button:focus {
  outline: 3px solid #ffbf47;
  outline: 3px solid var(--color--focus-bg);
}
.button:focus:not(:active):not(:hover) {
  border-color: #ffbf47;
  border-color: var(--color--focus-bg);
  background-color: #ffbf47;
  background-color: var(--color--focus-bg);
  color: #000;
  color: var(--color--black);
}
.button--primary {
  background-color: #2f128d;
  background-color: var(--color--indigo);
  color: #fff;
  color: var(--color--white);
}
.button--primary:hover {
  background-color: #fd5765;
  background-color: var(--color--coral);
  color: #fff;
  color: var(--color--white);
}
.button--secondary {
  background-color: #3beccd;
  background-color: var(--color--lagoon);
  color: #000;
  color: var(--color--black);
}
.button--secondary:hover {
  background-color: #2f128d;
  background-color: var(--color--indigo);
  color: #fff;
  color: var(--color--white);
}
.button--tertiary {
  background-color: #fd5765;
  background-color: var(--color--coral);
  color: #fff;
  color: var(--color--white);
}
.button--tertiary:hover {
  background-color: #2f128d;
  background-color: var(--color--indigo);
  color: #fff;
  color: var(--color--white);
}
.button--border {
  border: 2px solid #2f128d;
  border: 2px solid var(--color--indigo);
  color: #2f128d;
  color: var(--color--indigo);
}
.button--border:hover {
  background-color: #2f128d;
  background-color: var(--color--indigo);
  border-color: #2f128d;
  border-color: var(--color--indigo);
  color: #fff;
  color: var(--color--white);
}

.button-menu-toggle {
  z-index: 30;
  position: relative;
  display: block;
  width: 40px;
  height: 30px;
  margin-top: 5px;
  background: transparent;
  border: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-out;
}
.button-menu-toggle__line {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background: #fff;
  background: var(--color--white);
  opacity: 1;
  transform: rotate(0deg);
  transition: top, width, opacity, transform, left, 0.25s ease-out;
}
.button-menu-toggle__line:nth-child(1) {
  top: 0;
}
.is-open .button-menu-toggle__line:nth-child(1) {
  top: 10px;
  left: 50%;
  width: 0%;
}
.button-menu-toggle__line:nth-child(2), .button-menu-toggle__line:nth-child(3) {
  top: 12px;
  opacity: 0.25;
}
.is-open .button-menu-toggle__line:nth-child(2), .is-open .button-menu-toggle__line:nth-child(3) {
  opacity: 1;
}
.is-open .button-menu-toggle__line:nth-child(2) {
  transform: rotate(45deg);
}
.is-open .button-menu-toggle__line:nth-child(3) {
  transform: rotate(-45deg);
}
.button-menu-toggle__line:nth-child(4) {
  top: 24px;
}
.is-open .button-menu-toggle__line:nth-child(4) {
  top: 10px;
  left: 50%;
  width: 0%;
}

.grid {
  display: grid;
  gap: 20px;
  margin: 20px 0 40px;
}
.grid__item {
  min-height: 100px;
  background-color: #eee;
  background-color: var(--color--border);
  padding: 20px;
  border-radius: 5px;
}
.grid--six-col {
  grid-template-columns: repeat(6, 1fr);
}
.grid--four-col {
  grid-template-columns: repeat(4, 1fr);
}
.grid--three-col {
  grid-template-columns: repeat(3, 1fr);
}
.grid--two-col {
  grid-template-columns: repeat(2, 1fr);
}
.grid--sidebar {
  grid-template-columns: 3fr 1fr;
}

.skip-link {
  position: absolute;
  top: -200px;
  left: 0;
  color: #000;
  color: var(--color--black);
  background-color: #fff;
  background-color: var(--color--white);
  padding: 20px;
}
.skip-link:focus {
  top: 0;
}

.footer {
  padding: 20px 10px;
  color: #fff;
  color: var(--color--white);
  background-color: #000;
  background-color: var(--color--black);
}
@media only screen and (min-width: 599px) {
  .footer {
    padding: 20px;
  }
}

.header {
  background-color: #2f128d;
  background-color: var(--color--indigo);
  color: #fff;
  color: var(--color--white);
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
}
@media only screen and (min-width: 599px) {
  .header__inner {
    padding: 20px;
  }
}
.header__logo {
  font-size: 18px;
  font-size: 1.125rem;
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #fff;
  color: var(--color--white);
  transition: color 0.25s ease-out;
}
@media only screen and (min-width: 599px) {
  .header__logo {
    font-size: 20px;
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: 1023px) {
  .header__logo {
    font-size: 24px;
    font-size: 1.5rem;
  }
}
.header__logo:hover {
  color: #3beccd;
  color: var(--color--lagoon);
}
.header__logo:hover .header__logo-icon {
  transform: rotate(5deg);
  fill: #3beccd;
  fill: var(--color--lagoon);
}
.header__logo:focus {
  color: #000;
  color: var(--color--black);
}
.header__logo:focus .header__logo-icon {
  fill: #000;
  fill: var(--color--black);
}
.header__logo-text {
  margin-top: 3px;
}
.header__logo-icon {
  width: 40px;
  height: 40px;
  fill: #fff;
  fill: var(--color--white);
  transition: transform 0.25s ease-out, fill 0.25s ease-out;
}
.header__navigation {
  display: flex;
  gap: 20px;
}
.header__navigation-link {
  font-size: 14px;
  font-size: 0.875rem;
  position: relative;
  padding: 5px;
  font-weight: 700;
  color: #fff;
  color: var(--color--white);
}
@media only screen and (min-width: 599px) {
  .header__navigation-link {
    font-size: 16px;
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1023px) {
  .header__navigation-link {
    font-size: 16px;
    font-size: 1rem;
  }
}
.header__navigation-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  right: 0;
  width: 20px;
  height: 3px;
  margin: 0 auto;
  background-color: #fff;
  background-color: var(--color--white);
  border-radius: 3px;
  opacity: 0;
  transform: translateY(3px);
  transition: opacity 0.25s ease-out, transform 0.25s ease-out, background-color 0.25s ease-out;
}
.header__navigation-link:hover {
  color: #3beccd;
  color: var(--color--lagoon);
}
.header__navigation-link:hover::after {
  opacity: 1;
  transform: translateY(0);
  background-color: #3beccd;
  background-color: var(--color--lagoon);
}
.header__navigation-link:focus:hover {
  color: #000;
  color: var(--color--black);
}
.header__navigation-link:focus::after {
  display: none;
}

.layout {
  background-color: #fff;
  background-color: var(--color--white);
  max-width: 1280px;
  margin: 0 auto;
  padding: 40px 20px;
}
.layout__article {
  margin-bottom: 40px;
  border-top: 1px solid #eee;
  border-top: 1px solid var(--color--border);
  padding: 40px 0;
}
.layout__demo-block {
  margin: 0 0 20px;
  padding: 20px 0 40px;
  border-bottom: 1px solid #eee;
  border-bottom: 1px solid var(--color--border);
}
