@use 'config' as *;

.layout {
    background-color: var(--color--white);
    max-width: $site-width;
    margin: 0 auto;
    padding: ($grid * 2) $grid;

    &__article {
        margin-bottom: ($grid * 2);
        border-top: 1px solid var(--color--border);
        padding: ($grid * 2) 0;
    }

    &__demo-block {
        margin: 0 0 $grid;
        padding: $grid 0 ($grid * 2);
        border-bottom: 1px solid var(--color--border);
    }

    &__single {
        border: 1px solid var(--color--border);
        margin: $grid 0;
        padding: $grid $grid 5px;
        border-radius: 5px;

        p {
            margin: 0;
        }
    }
}
