@use 'config' as *;

.grid {
    display: grid;
    gap: $grid;
    margin: $grid 0 ($grid * 2);

    &__item {
        min-height: 100px;
        background-color: var(--color--border);
        padding: $grid;
        border-radius: 5px;
    }

    &--six-col {
        grid-template-columns: repeat(6, 1fr);
    }

    &--four-col {
        grid-template-columns: repeat(4, 1fr);
    }

    &--three-col {
        grid-template-columns: repeat(3, 1fr);
    }

    &--two-col {
        grid-template-columns: repeat(2, 1fr);
    }

    &--sidebar {
        grid-template-columns: 3fr 1fr;
    }
}
